{% extends 'base.html.twig' %}
{% block body_content %}

    <h1>Mon blog de test</h1>

    <section>
        {% for message in liste %}
            <article class="card m-3">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ path('message_detail', {'message':message.id}) }}">{{ message.titre }}</a></h5>
                    <p class="fst-italic">{{ message.auteur.nom }} - {{ message.datePublication | date('d/m/Y') }}</p>
                    <p class="card-text">{{ message.resumer }}</p>
                </div>

            </article>
        {% endfor %}
    </section>
    {{ knp_pagination_render(liste) }}

{% endblock %}