{% extends 'base.html.twig' %}
{% block body_content %}

    <article>
        <h1>{{ message.titre }}</h1>
        <p class="fst-italic">{{ message.datePublication | date('d/m/Y') }}</p>
        <p>{{ message.contenu }}</p>
        <p>Auteur <strong>{{ message.auteur.nom }}</strong></p>
    </article>

    <section class="container">
        <h3>Commentaires</h3>
        {% for commentaire in message.commentaires %}
            <article class="card m-1">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title">{{ commentaire.auteur.nom }} - {{ commentaire.dateCreation | date('d/m/Y') }}</h5>
                        <p class="card-text">{{ commentaire.contenue }}</p>
                    </div>
                </div>
            </article>
        {% endfor %}
        <h3>Ajouter Commentaires</h3>

        {% if is_granted('ROLE_USER') %}
        {{ form(form) }}
        {% else %}
            <p>Pour ajouter un commentaire vous devez être connecter</p>
            <a href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
    </section>

{% endblock %}