<nav class="col-2">
    <ul class="nav flex-column">
        <li class="nav-item"><a href="{{ path('home') }}" class="nav-link">Acceuil</a></li>
        <li class="nav-item">
            <hr class="dropdown-divider"/>
        </li>
        {% if is_granted('ROLE_WRITER') %}
            <li class="nav-item"><span class="nav-link">Administration</span></li>
            <li class="nav-item"><a href="{{ path('back_message_liste') }}" class="nav-link">Message</a></li>
            <li class="nav-item"><a href="{{ path('back_tag_liste') }}" class="nav-link">Tag</a></li>
            <li class="nav-item">
                <hr class="dropdown-divider"/>
            </li>
        {% endif %}
        {% if is_granted('IS_ANONYMOUS') %}
            <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Se connecter</a></li>
        {% else %}
            <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a></li>
        {% endif %}
    </ul>
</nav>