{% extends 'base.html.twig' %}
{% block body_content %}
    <h1>Liste des Tag</h1>
    <a href="{{ path('back_tag_create') }}">Nouveau Tag</a>
    <table class="table table-striped table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in liste %}
                <tr>
                    <td>{{ tag.nom }}</td>
                    <td><a href="{{ path('back_tag_delete', {'tag': tag.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}