{% extends 'base.html.twig' %}
{% block body_content %}
    <h1>Liste des Messages</h1>
    <a href="{{ path('back_message_create') }}">Nouveau Message</a>
    <table class="table table-striped table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date Publication</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for message in liste %}
                <tr>
                    <td>{{ message.titre }}</td>
                    <td>{{ message.datePublication | date() }}</td>
                    <td>
                        <a href="{{ path('back_message_update', {'message': message.id}) }}">Modifier</a>
                        <a href="{{ path('back_message_delete', {'message': message.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}